doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/uploadPage">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/playlistPage">Playlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/albumPage">Album</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1>create album</h1>

    <form action="/albums/upload" method="post">
        <div class="form-group">
            <label for="albumTitle">title</label>
            <input type="text" class="form-control" id="albumTitle" name="album_title" placeholder="write the title of your album">
        </div>
        <div class="form-group">
            <label for="albumAuthor">author</label>
            <input type="text" class="form-control" id="albumAuthor" name="album_author" placeholder="write the author of your album">
        </div>
        <div class="form-group">
            <label for="albumGenre">genre</label>
            <input type="text" class="form-control" id="albumGenre" name="album_genre" placeholder="write the genre of your album">
        </div>
        <div class="form-group">
            <label for="albumArtwork">artwork</label>
            <select class="form-control" id="albumArtwork" name="album_artwork">
                <option value="">--Please choose an option--</option>
            </select>
        </div>
        <div class="form-group">
            <label for="albumPlaylist">List playlist</label>
            <select class="form-control" id="albumPlaylist" name="album_playlist">
                <option value="">--Please choose an option--</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h1>Link album to playlist</h1>

    <form action="/albums/link" method="post">
        <div class="form-group">
            <label for="albumToLink">List Album</label>
            <select class="form-control" id="albumToLink" name="album_to_link">
                <option value="">--Please choose an option--</option>
            </select>
        </div>
        <div class="form-group">
            <label for="PlaylistToLink">List playlist</label>
            <select class="form-control" id="PlaylistToLink" name="playlist_to_link">
                <option value="">--Please choose an option--</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/javascripts/albumpage.mjs" type="module"></script>

