doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/uploadPage">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/playlistPage">Playlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/albumPage">Album</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1>Image upload</h1>

    <form action="/images/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="pictureName">name</label>
            <input type="text" class="form-control" id="pictureName" name="picture_name" placeholder="write the name of your picture">
        </div>
        <div class="form-group">
            <label for="pictureSelected">file</label>
            <input type="file" class="form-control-file" id="pictureSelected" name="picture_selected" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h1>track upload</h1>

    <form action="/tracks/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="trackTitle">name</label>
            <input type="text" class="form-control" id="trackTitle" name="track_title" placeholder="write the title of your track">
        </div>
        <div class="form-group">
            <label for="trackArtist">artist</label>
            <input type="text" class="form-control" id="trackArtist" name="track_artist" placeholder="write the artist of your track">
        </div>
        <div class="form-group">
            <label for="trackAlbum">album</label>
            <select class="form-control" id="trackAlbum" name="track_album">
                <option value="">--Please choose an option--</option>
            </select>
        </div>
        <div class="form-group">
            <label for="trackGenre">genre</label>
            <input type="text" class="form-control" id="trackGenre" name="track_genre" placeholder="write the genre of your track">
        </div>
        <div class="form-group">
            <label for="trackArtwork">artwork</label>
            <select class="form-control" id="trackArtwork" name="track_artwork">
                <option value="">--Please choose an option--</option>
            </select>
        </div>
        <div class="form-group">
            <label for="trackSelected">file</label>
            <input type="file" class="form-control-file" id="trackSelected" name="track_selected" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/javascripts/uploadpage.mjs" type="module"></script>

